<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278377666917-4h1up5e1thgenr7td44nl6ob0k8g9ghk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278377666917-4h1up5e1thgenr7td44nl6ob0k8g9ghk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>278377666917-l7p0l3jeuopqccqhr0jdd8og7tmubfr3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB95YH0oIHFywC2h-NByVdl-ITKIWAXLBA</string>
	<key>GCM_SENDER_ID</key>
	<string>278377666917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.braazjr.churchcalendar</string>
	<key>PROJECT_ID</key>
	<string>church-calendar-1e543</string>
	<key>STORAGE_BUCKET</key>
	<string>church-calendar-1e543.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278377666917:ios:30fe1cc257a98a0a40e98c</string>
	<key>DATABASE_URL</key>
	<string>https://church-calendar-1e543.firebaseio.com</string>
</dict>
</plist>